EXPO_PUBLIC_SUPABASE_URL=https://mvngamvkdtcprgiizcvk.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12bmdhbXZrZHRjcHJnaWl6Y3ZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3NDU3MDgsImV4cCI6MjA5MzMyMTcwOH0.WKo4P39Nz8mKQDyoL0Vg6KypHSGnhpvomrTn5LB3j5Y
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Muqubw41c5rzj0AXeDp4zg_RbruF7zA